
.get-intouch{
    text-decoration: underline 0.5px #ccc;
    text-underline-offset: 0.5em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.get-intouch:hover{
        text-decoration-color: transparent;
        text-underline-offset: 0.4em;
        cursor: pointer;
}